div#commentbar{
	min-height:160px;
	height:auto !important;        /* for IE as it does not support min-height */
	/* height:160px; */
	width: 100%;
	font-size: 1.1em;
	overflow: hidden;
}


div#commentbar div{
	float: left;
	padding: 2px;
	vertical-align: middle;
}

div#commentbar .ending-text{
	font-size: 1.1em;
}

div#commentbar .heading-text{
    text-align: center;
}

div#commentbar p{
    margin-top: 0px;
    margin-bottom: .5em;
}

div.comment_bar_thumb_container{
	width: 21%;
}

div#commentbar img.commbent_bar_thumb{
	
	width: 150px;
	height: 150px;
	margin: -4% 0% 3% 3%;
	vertical-align: middle;
	
	/*
	height: 150px;
	width: 150px;
	margin: -4% 0% 3% 3%;
	vertical-align: middle	
	*/
}

div#commentbar .comment_bar_required_text_container{
	width: 70%;
	margin-left: 30px;	
}

div#commentbar span.submit-container{
	float: right;
}

div#commentbar span.submit-container input[type="submit"]{
    width: 5em;
    padding: 0 5px 0 5px;
    background-color: red;
    height: 1.9em;
    padding: 0px;
    vertical-align: middle;
    font-size: .9em;
}

div#commentbar input[type="text"]{
    width: 40.5%;   
	font-size: 1em;    
}

div#commentbar input#commenter_website_inputbox{
	width: 96%;
}

div#commentbar textarea{
    width: 96%;
    height: 2em;
	font-size: 1em; 
}